@model Vaskelista.ViewModels.TaskCreateViewModel

@{
    ViewBag.Title = "Ny oppgave";
}

<h2>Planlegg ny oppgave</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Start, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Start, new { Value = DateTime.Now.ToString("dd.MM.yyyy"), @class = "form-control datepicker", data_date_format = "dd.mm.yyyy" })
                @Html.ValidationMessageFor(model => model.Start)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RoomId, (SelectList)ViewBag.RoomList, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.RoomId)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Dager", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <ul class="form-checkbox-list form-weekday-list">
                    <li>@Html.CheckBoxFor(model => model.Monday) @Html.LabelFor(t => t.Monday)</li>
                    <li>@Html.CheckBoxFor(model => model.Tuesday) @Html.LabelFor(t => t.Tuesday)</li>
                    <li>@Html.CheckBoxFor(model => model.Wednesday) @Html.LabelFor(t => t.Wednesday)</li>
                    <li>@Html.CheckBoxFor(model => model.Thursday) @Html.LabelFor(t => t.Thursday)</li>
                    <li>@Html.CheckBoxFor(model => model.Friday) @Html.LabelFor(t => t.Friday)</li>
                    <li>@Html.CheckBoxFor(model => model.Saturday) @Html.LabelFor(t => t.Saturday)</li>
                    <li>@Html.CheckBoxFor(model => model.Sunday) @Html.LabelFor(t => t.Sunday)</li>
</ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opprett" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval",
                    "~/bundles/jqueryglobalize",
                    "~/bundles/bootstrapdatepicker")

    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker({language:"no"}); //Initialise any date pickers
        });

        $.validator.methods.date = function (value, element) {
            return this.optional(element) || Globalize.parseDate(value, "dd.MM.yyyy", "en");
        }
    </script>
}

