@model Vaskelista.Models.Household

@{
    ViewBag.Title = "Create";
}

<h2>Velkommen til vaskelista</h2>

<p>Her kan du velge hva vaskelisten din skal hete:</p>


    
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2"><label>@Request.Url.ToString()</label></div>
            <div class="col-md-4">
                <ul class="form-option-list">
                        @foreach (string randomUrl in ViewBag.RandomUrls)
                        {
                            <li>
                                @using (Html.BeginForm("Create", "Household", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(model => model.Token, new { Value = randomUrl })
                                    <input type="submit" value="@randomUrl" class="btn btn-default" />
                                }
                            </li>
                        }
                </ul>
            </div>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
