<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vaskelista</title>
    @Styles.Render("~/Content/css")
    @Mvc.RazorTools.BundleManager.Styles.Render()
    @Styles.Render("~/Content/less")
    @Scripts.Render("~/bundles/modernizr")
    @Mvc.RazorTools.BundleManager.Scripts.Render()
    <link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC|Schoolbell' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css' />
    <link rel="shortcut icon" href="../favicon.ico" />
</head>
<body>

    <!--<header class="el-header">
        <ul>
            <li class="valgt">Min uke</li>
            <li>Oppgaver</li>
            <li>Aktiviteter</li>
        </ul>
    </header>-->

    <main class="main container body-content">
        @RenderBody()
    </main>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
